<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="modal">
    <div class="modal fade" th:id="'exampleModal' +${people.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid text-center">
                        <form th:method="PATCH" th:action="@{/admin}" th:object="${user}">

                            <input type="hidden" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>

                            <div class="col-5 mx-auto">
                                <strong><label for="formControlInputLogin2"
                                               class="form-label">ID</label></strong>
                                <input type="text" th:field="*{id}"
                                       class="form-control form-control-xl"
                                       id="formControlInputId" th:placeholder="${people.getId()}">
                            </div>
                            <br/>

                            <div class="col-5 mx-auto">
                                <strong><label for="formControlInputLogin2"
                                               class="form-label">Логин</label></strong>
                                <input type="text" th:field="*{username}"
                                       class="form-control form-control-xl "
                                       id="formControlInputLogin2" th:placeholder="${people.getUsername()}">
                            </div>
                            <br/>

                            <div class="col-5 mx-auto">
                                <strong><label for="formControlInputPassword2"
                                               class="form-label">Пароль</label></strong>
                                <input type="password" th:field="*{password}"
                                       class="form-control form-control-xl "
                                       id="formControlInputPassword2" placeholder="*********">
                            </div>
                            <br/>

                            <div class="col-5 mx-auto">
                                <strong><label for="formControlInputAge2"
                                               class="form-label">Возраст</label></strong>
                                <input type="text" th:field="*{age}"
                                       class="form-control form-control-xl " id="formControlInputAge2"
                                       th:placeholder="${people.getAge()}">
                            </div>
                            <br/>

                            <div class="col-5  mx-auto">
                                <strong><label for="Role2" class="form-label">Роль</label></strong>
                                <select class="form-select form-select-xs" multiple
                                        aria-label="multiple size 2"
                                        type="text" name="str" id="Role2" style="height: 60px">
                                    <option th:each="role : ${roleList}" th:value="${role.name}"
                                            th:text="${role.name}">Role
                                    </option>
                                </select>
                            </div>
                            <br/>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>